* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: #283270;
    color: white;
    padding: 150px;
    text-align: center;
    position: relative;

}

body {
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    animation: bounce 1s infinite;
    width: 900px;
    margin: 0 auto;
}

.nombre {
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    position: relative;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.buttons {
    margin-top: 150px;
}

.button {
    background-color: #ff6347;
    color: white;
    padding: 70px 70px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff4500;
}

.content {
    padding: 15px;
    text-align: center;
}